
body{
    background-color: var(--grayColor);
}
.movieDetails .container,
.trailer .container{
    border-bottom: 3px solid #e60000;
}
.movieDetails,
.trailer,
.movieCast{
    margin-bottom: 50px;
}
.movieDetails span{
    padding: .3rem;
    border-radius: 2px;
    background-color: var(--mainColor);
    font-size: 1.1rem;
    font-weight: 500;
    display: inline-block;
    color: var(--whiteColor) !important;
    margin-right: 50px;
}
.movieDetails .details{
    width: 60%;
}
h2{
    font-size: 50px;
    color: var(--whiteColor)
    
}
.movieDetails .img-con{
    margin-left: 50px;
    width: 400px;
}
img{
    width: 100%;
    height: 100%;
}
p,pre{
    margin: 8px 0;
    font-size: 20px;
}

.movieCast .movie-card{
    width: 200px;
    height: 350px;
}
.movieCast img{
    height: 80%;
}
h5{
    color: #ffffff99;
}
